@font-face 
{
    font-family: "WonderMail";
    src: url("font/wondermail.ttf") format("truetype");
}

* 
{
  box-sizing: border-box;
  font-family: "WonderMail";
  font-size: 2rem;
}

html, body
{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#quiz
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#background
{
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: -10;
}

.layer1
{
    position:absolute;
    z-index:0;
}

.layer2
{
    position:absolute;
    z-index:1;
}

.bgScrollingLeft
{
    display:flex;
    height: 100vh;
    width: 200vw;
}

.bgScrollingRight
{
    display:flex;
    height: 100vh;
    width: 200vw;
}

.bgImageL
{
    background-image:url("img/bg1.png");
    background-size: 100% 100vh;
    image-rendering: pixelated;
    width: 100vw;
    animation: bgScrollingL 20s linear infinite;
}

@keyframes bgScrollingL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bgImageR
{
    background-image:url("img/bg2.png");
    background-size: 100% 100vh;
    image-rendering: pixelated;
    width: 100vw;
    opacity:50%;
    animation: bgScrollingR 20s linear infinite;
}

@keyframes bgScrollingR {
  0% {
    transform: translateX(-100%);
    
  }
  100% {
    transform: translateX(0);
    
  }
}

.hueShift
{
    animation: hueShift 40s linear infinite;
}

@keyframes hueShift 
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}
.fillSpace
{
    flex: 1;
}

.question
{
    color: white;
    background-color: #212421;
    font-size: 1.5rem;
    width: 80%;
    height: 10%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-left: 10%;
    margin-bottom: 1em;
}

.question p
{
    padding: 0 1em;
}

.dialogue
{
    color: white;
    background-color: #212421;
    display:flex;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align:center;
}

.answer
{
    width: 20%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answerList
{
    width: 20%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: 10%;
    margin-bottom: 0.5em;
}

.answerButton
{
    color: white;
    background-color: #212421;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 0.1em;
    justify-content: center;
    font-size: 1.5rem;
    opacity:80%;
    box-sizing: border-box;
}

.answerButton:hover
{
    opacity:100%;
    transition: opacity 0.3s ease-in-out;
}

.resetContainer
{
    width: 20%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

.resetButton
{
    color: white;
    background-color: #212421;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 0.1em;
    justify-content: center;
    font-size: 1.5rem;
    opacity:80%;
    box-sizing: border-box;
}

.resetButton:hover
{
    opacity:100%;
    transition: opacity 0.3s ease-in-out;
}

.pokeName
{
    color: yellow;
    font-weight: bold;
}

.portrait
{
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width: 10%;
    image-rendering: pixelated;
}

.hasBorder
{
    border: 5px solid transparent; 
    border-image-source: url("img/border.png");
    border-image-slice: 5 7;
    border-image-repeat: stretch;
    border-image-width: auto;
    background-clip: padding-box;
}

#darkBG
{
    position:absolute;
    z-index: 2;
}

.fadeIn
{
    background-color: #212421;
    width: 100vw;
    height: 100vh;
    opacity: 70%;
    animation: fadeIn 3s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
    
  }
  to {
    opacity: 70%;
    
  }
}

.fadeOut
{
    background-color: #212421;
    width: 100vw;
    height: 100vh;
    opacity: 0%;
    animation: fadeOut 3s linear;
}

@keyframes fadeOut {
  from {
    opacity: 70%;
    
  }
  to {
    opacity: 0%;
    
  }
}

#monologueContainer
{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#monologueDialogue
{
    margin: auto;
    color:white;
    text-align:center;
}

#finalResult
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.resultContainer
{
    margin-top:auto;
    margin-bottom:auto;
}